<%= render partial: 'nav' %>

<div class="container">
  <h1>Inbox</h1>

  <div class="container">
    <table class="table">
      <tr>
        <th></th>
        <th>Title</th>
        <th>Company</th>
        <th></th>
      </tr>
      <% @job_posts.each do |job| %>
        <tr id="job_post-<%= job.id %>">
          <td>
         <%= form_tag %>
           <%= check_box_tag :finished %>

          </td>
          <td><a href="<%= job.url %>"><%= job.title %></a></td>
          <td><%= job.company %></td>
          <td>
            <%= link_to "archive", job, method: :delete, remote: true, class: "btn btn-danger" %>
          </td>
        </tr>
      <% end %>

    </table>
  </div>
</div>
